.navLink {
  text-decoration: none;
  color: rgb(110, 110, 110);
  font-size: 24px;
  font-weight: 600;
  padding: 20px;
  margin-right: 25px;
  display: inline-flex;
  transition: all 0.3s;
}

.navLink:active,
.navLink:focus {
  color: rgb(0, 0, 0);
}
