.navLink {
  text-decoration: none;
  color: rgb(246, 242, 242);
  font-size: 28px;
  font-weight: 600;
  padding: 20px;
  margin-right: 25px;
  display: inline-flex;
  transition: all 0.3s;
}

.navLink:active,
.navLink:focus {
  color: rgb(128, 144, 160);
}

.headerLayout {
  margin: 24px;
}
